{% extends "base.html" %}
{% block content %}
<div class="container-fluid mt-2">
    <div class="d-flex justify-content-between mb-4">
        <h1>
            <i class="bi bi-folder2-open me-2"></i>
            Project Form
        </h1>
        <nav aria-label="breadcrumb" class="align-self-end">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url "dashboard:index_dashboard" %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url "projects:index_projects" %}">Projects</a></li>
                <li class="breadcrumb-item active" aria-current="page">Project Form</li>
            </ol>
        </nav>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_name" class="form-label">{{form.name.label}}<span class="text-danger ms-2">*</span></label>
            {{form.name}}
        </div>
        <div class="mb-3">
            <label for="id_description" class="form-label">{{form.description.label}}<span class="text-danger ms-2">*</span></label>
            {{form.description}}
        </div>
        <div class="mb-3">
            <label for="id_created_by" class="form-label">{{form.created_by.label}}</label>
            {{form.created_by}}
        </div>
        <button type="submit" class="btn btn-sm btn-primary">Save</button>
        <a href="{% url "projects:index_projects" %}" class="btn btn-sm btn-secondary">Cancel</a>
    </form>
</div>
{% endblock content %}